.single-product{
    display:flex;
    border-bottom: 1px solid rgb(185, 184, 184);
    

}
.single-product img{
    margin-left:80px;
    margin-right:10px;
    padding:10px;
}
.single-product h4{
    color:rgb(39, 39, 211);
    font-weight:500;
    margin-left:15px;
}

.single-product p{
    margin-left: 15px;
    color:rgb(73, 69, 69);
}
.main-button {
    background-color:#F0C14B;
    width:150px;
    height:40px;
    border:2px solid rgb(32, 31, 31);
    margin-bottom:50px;
    margin-left: 15px;
    font-size:15px;
    padding:8px;
    border-radius:5px;
    cursor: pointer;
    text-align: center;
}